layout: index
description: 高可定制和主题化的 React Native 组件库
subtitle: 高可定制和主题化的 React Native 组件库
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 轻依赖
      p.intro-feature-desc 非常少的依赖
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-diamond
      h3.intro-feature-title 全局主题化
      p.intro-feature-desc 多种样式选择器的实现
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cubes
      h3.intro-feature-title 丰富的基础组件
      p.intro-feature-desc 20+ 个组件
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 友好的 API 设计
      p.intro-feature-desc 简单且类官方的API设计
