language: node_js
node_js:
  - "7"
before_install:
  - curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
  - echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
before_script:
  - sudo apt-get update && sudo apt-get install yarn
install:
    - yarn install
script:
  - yarn test
  - yarn lint
