layout: index
description: Highly customizable and theming components for React Native
subtitle: Highly customizable and theming components for React Native
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Lightly dependency
      p.intro-feature-desc Very little dependency
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-diamond
      h3.intro-feature-title Global theming
      p.intro-feature-desc A variety of style selector implementation
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cubes
      h3.intro-feature-title Rich base components
      p.intro-feature-desc 15+ components
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title Friendly API design
      p.intro-feature-desc Simple and quasi-official API design
