{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "transform-define",
      {
        "__DEV__": true
      }
    ],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}
