{
  "presets": [
    "react-native"
  ],
  "plugins": [
    [
      "transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "transform-define", {
        "__DEV__": false
      }
    ]
  ]
}
